<h2 id="page"> YOUR FELLOW SIGNERS </h2>

<ul id="signers">
    {{#each rows}}
    <li><a href="{{url}}">{{first_name}} {{last_name}}</a> {{#if age}} ({{age}}) {{/if}} {{#if city}}(<a href="/signers/{{city}}">{{city}}</a>){{/if}}</li>
    {{/each}}
</ul>
